@page
@model Kovacs_Adela_Licenta.Pages.OurStoryModel
@{
}

<head>

</head>

<body>

    <div class="card mb-3" style="padding:10px">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/imagini/OurStory2.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">A little background about where all started</h5>
                    <p></p>
                    <p class="card-text">
                        As I grew up, I always heard the phrase "Every cup of coffee tells a story". Back then, when I was around 5 or 6 years old, I always wondered: how could a cup of coffee tell such thing?
                        And my mom kinldly answared "A cup of coffee has super powers, darling, that not everybody knows about. When we sit down at a cute small table, while sipping coffee, we tell stories and
                        the coffee cup listens to them carefuly and memorises every detail. So, when the time is up, we go to work and next time when we catch up, the coffe cupe will tell us right where we left
                        off the story.
                    </p>
                    <p class="card-text"><small class="text-muted"> - Verve Owner</small></p>


                    <!--Pentru fereasta pe stanga-->
                    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">This is how we came up with the idea to...</button>

                    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Print our clients' stories and share them using our coffee cups.</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <img src="~/imagini/cup.jpg" width="450px" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card text-white bg-primary mb-3" style="padding:10px">
        <div class="card-header">After I grew up, I realised that...</div>
        <div class="card-body">
            <p></p>
            <p class="card-text">
                When people gather over a cup of coffee, they often engage in conversation and share their thoughts, feelings, and experiences. 
                These conversations can be light-hearted or serious, and they can involve sharing stories about personal experiences, discussing 
                current events, or even brainstorming ideas.
                </br><p></p>
                Through these conversations, a sense of community and connection can be built, and the shared experiences can create lasting memories. 
                And while the coffee cup itself may not have superpowers, it can serve as a symbol of the shared experience and the memories that were 
                created during that time.
                </br><p></p>
                So, while a cup of coffee may not actually listen and remember everything that is said during a conversation, it can still serve as a 
                meaningful part of the experience and contribute to the storytelling that takes place.
            </p>
        </div>

        <img src="~/imagini/OurStory1.jpg" class="card-img-top" alt="...">

</body>

