@page
@model Kovacs_Adela_Licenta.Pages.QuizModel
@{
}

<head>
    <style>
        section {
            margin-bottom: 50px;
        }

    </style>

</head>

<body>
    <p>
    <section>
        <div class="card text-center">
            <div class="card-header">
                Verve quiz
            </div>
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">Have you ever been told that the perfect match doesn't exist? Well, we beg to differ, and we're here to help you find your ideal coffee match.</p>
                <button type="button" class="btn btn-primary" data-tf-popup="xQOyO5N6" data-tf-opacity="100" data-tf-iframe-props="title=VerveQuiz" data-tf-transitive-search-params data-tf-medium="snippet">Take the quiz!</button><script src="//embed.typeform.com/next/embed.js"></script>
            </div>
            <div class="card-footer text-muted">
                <p>Based on your quiz answers, our recommendation is that you should try...</p>
            </div>
        </div>
    </section>

    <section>
            <div class="card mb-3">
                <img src="~/imagini/prieteni.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Coffee tastes better when you share it with the people you love</p>
                    <p class="card-text">Tell them about Verve, and share the quiz with them</p>   

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Sharing is caring <3
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Subject to my friend:</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Did we get the same quiz result? 
                                    <p><p/>
                                    <a href="https://gfrk9hcw6yp.typeform.com/to/xQOyO5N6">QUIZ LINK</a>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Naa, nevermind</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
    </section>
 
</body>
